node_modules/
out/
dist/
release/
jm.bundle/config.json
test/config.json
.data/
*.log

/.idea/
# web-embedded 生成物
**/web-embedded.json
**/package-lock.json
**/eng.traineddata
/bundles/jm.bundle/resources/exe/ComicsViewer_3.08/ComicsViewer.ini
/.data/
/bundles/*.*/data/
**/temp/
taskManager/.npmrc
